.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Package.resolved

# Xcode Swift Package Manager
**/xcshareddata/swiftpm/
**/project.xcworkspace/xcshareddata/swiftpm/
**/xcshareddata/IDEWorkspaceChecks.plist
